$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(211, 15%, 73%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
$medium: 500;
$heavy: 700;
%box-setting {
    position: absolute;
    z-index: 2;
    box-shadow: 10px 10px 5px $Light-Grayish-Blue;
    background: $Very-Dark-Grayish-Blue;
    margin: 0;
}

body {
    background: $Light-Grayish-Blue;
    padding: 150px;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-sizing: border-box;
    height: 300px;
    width: 750px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 5px 5px 5px $Grayish-Blue, -5px 5px 5px $Grayish-Blue;
}

.picture {
    img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.comment {
    padding: 30px;

    h1 {
        color: $Very-Dark-Grayish-Blue;
        font-weight: $heavy;
        font-size: 20px;
    }

    p {
        color: $Desaturated-Dark-Blue;
        font-weight: $medium;
        line-height: 20px;
    }
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.name {
    color: $Very-Dark-Grayish-Blue;
    font-weight: $heavy;
    font-size: 15px;
    position: relative;
    bottom: 25px;
    left: 15px;
}

.date {
    color: $Grayish-Blue;
    font-weight: $medium;
    position: relative;
    left: 65px;
    bottom: 22px;
}

.profile {
    position: relative;
    z-index: 1;
    button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 0px;
        position: relative;
        left: 280px;
        bottom: 30px;
        background: $Light-Grayish-Blue;
    }

    button :hover {
        cursor: pointer;
    }

    .shareb {
        visibility: hidden;
        @extend %box-setting;
        bottom: 90px;
        left: 220px;
        box-sizing: border-box;
        height: 60px;
        width: 260px;
        padding: 15px 30px;
        border-radius: 10px;
        span {
            text-transform: uppercase;
            letter-spacing: 4px;
            color: $Grayish-Blue;
            margin-right: 10px;
        }

        img {
            margin: 0 7px;
        }
        
    }

    .arrow {
        @extend %box-setting;
        visibility: hidden;
        bottom: 75px;
        left: 360px;
        width: 0;
        height: 0;
        border-right: 10px solid white;
        border-left: 10px solid white;
        border-top: 15px solid $Very-Dark-Grayish-Blue;
    }
}

@media screen and (max-width : 480px) {
    body {
        margin: 0;
        padding: 100px;
    }

    .preview {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 650px;
        width: 300px;
    }

    .picture {
        img {
            width: 300px;
        }
    }

    .profile {
        button {
            position: relative;
            left: 150px;
            z-index: 3;
        }
    }

    .profile {
        .arrow {
            border: none;
        }
    }

    .profile {
        .shareb {
            box-sizing: border-box;
            width: 300px;
            height: 80px;
            padding: 20px;
            position: absolute;
            left: -30px;
            right: 80px;
            bottom: 0px;
            box-shadow: none;
            border-radius: 5px;
            padding: 30px;
        }
    }

}
